<div id="discord" class="discord">
    <table id="discord_table">
        <tr>
            <td>dublU</td>
            <td>crazy?</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>I was crazy once</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>they locked me in a room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>a rubber room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>A rubber room with rats</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>and rats make me crazy</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>crazy?</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>I was crazy once</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>they locked me in a room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>a rubber room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>A rubber room with rats</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>and rats make me crazy</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>crazy?</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>I was crazy once</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>they locked me in a room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>a rubber room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>A rubber room with rats</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>and rats make me crazy</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>crazy?</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>I was crazy once</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>they locked me in a room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>a rubber room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>A rubber room with rats</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>and rats make me crazy</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>crazy?</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>I was crazy once</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>they locked me in a room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>a rubber room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>A rubber room with rats</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>and rats make me crazy</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>crazy?</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>I was crazy once</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>they locked me in a room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>a rubber room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>A rubber room with rats</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>and rats make me crazy</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>crazy?</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>I was crazy once</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>they locked me in a room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>a rubber room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>A rubber room with rats</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>and rats make me crazy</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>crazy?</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>I was crazy once</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>they locked me in a room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>a rubber room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>A rubber room with rats</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>and rats make me crazy</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>crazy?</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>I was crazy once</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>they locked me in a room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>a rubber room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>A rubber room with rats</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>and rats make me crazy</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>crazy?</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>I was crazy once</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>they locked me in a room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>a rubber room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>A rubber room with rats</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>and rats make me crazy</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>crazy?</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>I was crazy once</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>they locked me in a room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>a rubber room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>A rubber room with rats</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>and rats make me crazy</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>crazy?</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>I was crazy once</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>they locked me in a room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>a rubber room</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>A rubber room with rats</td>
        </tr>
        <tr>
            <td>dublU</td>
            <td>and rats make me crazy</td>
        </tr>
    </table>
</div>